$eBlue: rgb(18, 108, 227);
$eGray: rgb(245, 245, 255);

body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    overflow: hidden;
    background-color: $eBlue;

    #controlButton {
        z-index: 10000000000000000; // increased z-index
        position: fixed;
        bottom: 1.618em;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        height: 4.618em;
        width: 4.618em;
        border-radius: 50%;
        font-weight: bold;
    }


    &.intro {
        #header {
            height: 100% !important;
        }

        #controlButton {
            border: 1px solid $eBlue;
        }

        #gameCanvas {
            display: none;
        }
    }
}

canvas {
    display: block;
}

#gameContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $eBlue;
}

#header {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    z-index: 9999; // decreased z-index
    transform: translateX(-50%);
    text-align: center;
    background-color: $eGray;
    transition: height 0.5s ease-in-out;
}

#levelDisplay {
    padding: 1.68em 0 .8em 0;
    visibility: hidden;
    font-size: larger;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#gameModeSelect {
    position: absolute;
    top: .32em;
    width: 33%;
    right: 1.618em;
}


#gameCanvas {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $eBlue;
}